.Quotes-page-dark {
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 30, 30);
  color: white;
  transition: 0.3s;
}
.Quotes-page-light {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
.Quotes {
  padding: 1rem;
  text-align: center;
  margin-left: 200px;
}
