.country-selector-shown {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 5px;
  padding: 0rem;
  overflow-y: scroll;
  transition: 0.3s;
}
.country-selector-hidden {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 5px;
  padding: 0rem;
  overflow-y: scroll;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  transition: 0.3s;
  transform: scale(0.95);
}
.country-selector-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  border-bottom: 1px solid rgb(158, 158, 158);
}
h4 {
  margin: 0;
}
.country-selector-country-list {
  padding: 1rem;
}
.country-item-list {
  display: flex;
  align-items: center;
  justify-content: left;
}
