@media only screen and (min-width: 1501px) {
  .Header {
    padding: 1rem;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    position: relative;
    height: 4.5rem;
  }
  .log-in-button {
    position: absolute;
    right: 2rem;
  }
  .login-menu-open {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 500px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 50;
    transition: 0.3s;
  }
  .login-menu-closed {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 500px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 21;
    transform: translateY(-50px);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .signUp-menu-open {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 480px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 51;
    transition: 0.3s;
  }
  .signUp-menu-closed {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 500px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 21;
    transform: translateY(50px);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .log-out-menu-open {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 385px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 51;
    transition: 0.3s;
  }
  .log-out-menu-closed {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 385px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 21;
    transform: translateY(-50px);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .log-out-buttons {
    width: 100px;
    margin: 1rem;
  }
  .darkned-background-active {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 20;
    transition: 0.3s;
  }
  .darkned-background-off {
    pointer-events: none;
    z-index: 0;
    transition: 0.3s;
  }
  .log-in-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .signUp-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .login-labels {
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .login-input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
  }
  .login-input::placeholder {
    color: rgb(150, 150, 150);
  }
  .login-input:focus {
    transition: 0.3s;
    filter: brightness(90%);
  }
  .log-in-button-menu {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
  }
  .log-out-all-button-menu {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
  }
  .log-out-all-button-menu:hover {
    filter: brightness(90%);
    transform: translateY(-2px);
  }
  .log-in-button-menu:hover {
    filter: brightness(90%);
    transform: translateY(-2px);
    transition: 0.3s;
  }
  .sign-up-login-button-menu {
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 10px;
  }
  .sign-up-login-button-menu:hover {
    filter: brightness(90%);
    transform: translateY(-2px);
    transition: 0.3s;
  }
  .close-icon-login {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.2s;
  }
  .close-icon-login:hover {
    background-color: red;
    box-shadow: 0px 0px 0px 5px red;
  }
  .user-name {
    position: absolute;
    left: 2rem;
  }
  /* error-warnings */

  .error-warning-shown {
    height: 4rem;
    top: 0;
    width: 50%;
    position: absolute;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    left: 0;
    right: 0;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-warning-hidden {
    height: 4rem;
    top: 0;
    width: 50%;
    position: absolute;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-5rem);
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .success-warning-shown {
    height: 4rem;
    top: 0;
    width: 50%;
    position: absolute;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    left: 0;
    right: 0;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .success-warning-hidden {
    height: 4rem;
    top: 0;
    width: 50%;
    position: absolute;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-5rem);
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skill-level-shown {
    position: absolute;
    right: 13rem;
    top: 1.5rem;
    cursor: pointer;
    z-index: 100;
  }
  .skill-level-hidden {
    position: absolute;
    right: 13rem;
    top: 1.5rem;
    z-index: 0;
  }
  .skill-level-menu-shown {
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
    transition: 0.2s;
    pointer-events: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
    height: 240px;
    overflow: hidden;
  }
  .skill-level-menu-hidden {
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(10px);
    pointer-events: none;
    height: 10px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1500px) {
  .Header {
    padding: 1rem;
    margin: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    border-radius: 0;
    height: 4.5rem;
  }
  .log-in-button {
    position: absolute;
    right: 2rem;
  }
  .login-menu-open {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 500px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 51;
    transition: 0.3s;
  }
  .login-menu-closed {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 500px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 21;
    transform: translateY(-50px);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .signUp-menu-open {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 480px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 51;
    transition: 0.3s;
  }
  .signUp-menu-closed {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 500px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 21;
    transform: translateY(50px);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .log-out-menu-open {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 385px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 51;
    transition: 0.3s;
  }
  .log-out-menu-closed {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 350px;
    height: 385px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 21;
    transform: translateY(-50px);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .log-out-buttons {
    width: 100px;
    margin: 1rem;
  }
  .darkned-background-active {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 20;
    transition: 0.3s;
  }
  .darkned-background-off {
    pointer-events: none;
    z-index: 0;
    transition: 0.3s;
  }
  .log-in-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .signUp-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .login-labels {
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .login-input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
  }
  .login-input::placeholder {
    color: rgb(150, 150, 150);
  }
  .login-input:focus {
    transition: 0.3s;
    filter: sepia();
  }
  .log-in-button-menu {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(0, 110, 255);
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
  }
  .log-out-all-button-menu {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
  }
  .log-out-all-button-menu:hover {
    transform: translateY(-2px);
    filter: brightness(90%);
  }
  .log-in-button-menu:hover {
    filter: brightness(90%);
    transform: translateY(-2px);
    transition: 0.3s;
  }
  .sign-up-login-button-menu {
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 10px;
  }
  .sign-up-login-button-menu:hover {
    filter: brightness(90%);
    transform: translateY(-2px);
    transition: 0.3s;
  }
  .close-icon-login {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.2s;
  }
  .close-icon-login:hover {
    background-color: red;
    box-shadow: 0px 0px 0px 5px red;
  }
  .user-name {
    position: absolute;
    left: 2rem;
  }
  /* error-warnings */

  .error-warning-shown {
    height: 4rem;
    top: 0;
    width: 50%;
    position: absolute;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    left: 0;
    right: 0;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-warning-hidden {
    height: 4rem;
    top: 0;
    width: 50%;
    position: absolute;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-5rem);
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .success-warning-shown {
    height: 4rem;
    top: 0;
    width: 50%;
    position: absolute;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    left: 0;
    right: 0;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .success-warning-hidden {
    height: 4rem;
    top: 0;
    width: 50%;
    position: absolute;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-5rem);
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skill-level-shown {
    position: absolute;
    right: 13rem;
    top: 1.5rem;
    cursor: pointer;
    z-index: 100;
  }
  .skill-level-hidden {
    position: absolute;
    right: 13rem;
    top: 1.5rem;
    z-index: 0;
  }
  .skill-level-menu-shown {
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
    transition: 0.2s;
    pointer-events: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
    height: 240px;
    overflow: hidden;
  }
  .skill-level-menu-hidden {
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(10px);
    pointer-events: none;
    height: 10px;
    overflow: hidden;
  }
}
.darkened-background-header-on {
  z-index: 30;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.603);
}
.darkened-background-header-off {
  pointer-events: none;
  width: 100%;
  z-index: 30;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.3s;
}
