.Header-dark {
  background-color: rgb(70, 70, 70);
  padding: 1rem;
  border-radius: 10px;
  color: white;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}
.Header-light {
  color: black;
  background-color: rgb(231, 231, 231);
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}
