h2 {
  padding-top: 1rem;
}
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.SideMenu {
  background-color: rgb(50, 50, 50);
  color: white;
  width: 170px;
  margin: 0;
  height: 100vh;
  position: fixed;
}
.navigation-buttons {
  margin-top: 2rem;
}
.navigation-button {
  margin: 0.5rem;
  margin-top: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(70, 70, 70);
  cursor: pointer;
  transition: 0.1s;
}
.navigation-button:hover {
  background-color: rgb(88, 88, 88);
}
