h3 {
  padding-top: 1rem;
  text-align: center;
}
h2,
h5 {
  margin: 0;
}
.left-menu-link {
  text-decoration: none;
  color: white;
}
.left-menu-link:hover {
  text-decoration: none;
}
.SideMenu {
  color: white;
  width: 200px;
  margin: 0;
  height: 100vh;
  position: fixed;
  transition: 0.3s;
  z-index: 3;
}

.navigation-buttons {
  margin-top: 66px;
}
.navigation-button {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  margin-top: 1rem;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
  transition: 0.3s;
}

.navigation-button-active {
  align-items: center;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.typing-game-button {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  margin-top: 1rem;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
  transition: 0.3s;
}

.typing-game-active {
  align-items: center;
  height: 8rem;
  margin: 0;
  margin-top: 1rem;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
  overflow: hidden;
  position: relative;
}

.typing-test-top-button {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 190px;
}
.typing-test-bottom-button {
  position: absolute;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  top: 3.5rem;
  border-radius: 10px;
  transition: 0.3s;
}
.typing-test-bottom-button:hover {
  transform: translateY(-5px);
}
.navigation-button-active {
  align-items: center;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}
