.select-text-div-shown {
  width: calc(90% - 200px);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 5px;
  margin: auto;
  margin-top: 70px;
  left: 200px;
  right: 0;
  word-wrap: break-word;
  position: absolute;
  z-index: 50;
  transition: 0.3s;
}
.select-text-div-hidden {
  width: calc(90% - 200px);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  left: 200px;
  right: 0;
  word-wrap: break-word;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.select-text-input {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: left;
}
.start-button {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-text-info-div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.select-text-info {
  display: flex;
}
