.multiplayer-text {
  position: fixed;
  z-index: 100;
  margin: auto;
  top: 50px;
  left: 50px;
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  padding: 0rem;
  border-radius: 5px;
  opacity: 1;
  transition: 0.3s;
}

.dark-background-multiplayer-shown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 90;
  transition: 0.3s;
}
.dark-background-multiplayer-off {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  transition: 0.3s;
}
.keyboard-multiplayer-div {
  position: absolute;
}
.text-to-type-multiplayer {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
  border-radius: 5px;
  margin: 0;
  padding: 3rem;
  padding-top: 1rem;
}
.text-to-type-dark-multiplayer {
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
  border-radius: 5px;
  width: 100%;
  margin: 0;
  padding: 3rem;
  padding-top: 1rem;
  opacity: 0.2;
}

.about-the-text-shown-multiplayer {
  transition: 0.7s;
  border-radius: 5px;
  position: absolute;
  bottom: 1rem;
  padding: 0rem;
  width: 90%;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  height: 95%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}
.about-the-text-hidden-multiplayer {
  transition: 0.3s;
  border-radius: 5px;
  position: absolute;
  bottom: 1rem;
  padding: 0rem;
  width: 90%;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  height: 95%;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  overflow-y: scroll;
}
.about-text-header-multiplayer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 0;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgb(102, 102, 102);
  z-index: 30;
  padding: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1501px) {
  .keyboard-div-shown-multiplayer {
    opacity: 1;
    transition: 0.2s;
    position: absolute;
    bottom: -50px;
    margin: 0;
    left: -160px;
    right: 0;
  }
  .keyboard-div-hidden-multiplayer {
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    bottom: -50px;
  }
  .input-zone-multiplayer {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -60px;
    margin: auto;
    left: 25px;
    right: 0;
  }
  .players-progress {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 370px;
    width: 95%;
    padding: 1rem;
    height: 200px;
    margin: auto;
  }
  .players-info {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .multiplayer-progress-hr {
    height: 3px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0px;
    transition: 0.2s;
  }
}

@media only screen and (max-width: 1501px) {
  .keyboard-div-shown-multiplayer {
    opacity: 1;
    transition: 0.2s;
    position: absolute;
    bottom: 0px;
    margin: 0;
    left: -160px;
    right: 0;
  }
  .keyboard-div-hidden-multiplayer {
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    bottom: -50px;
  }
  .input-zone-multiplayer {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -10px;
    margin: auto;
    left: 25px;
    right: 0;
  }
  .players-progress {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 280px;
    width: 95%;
    padding: 1rem;
    height: 200px;
    margin: auto;
    overflow-y: scroll;
  }
  .room-to-join-text {
    font-style: italic;
  }
  .multiplayer-progress-hr {
    height: 3px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -15px;
    transition: 0.2s;
    z-index: 0;
  }
  .players-info {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
}
.ready-icon {
  position: absolute;
  left: 0;
}
.text-info-race-label {
  position: absolute;
  left: -75px;
}
.join-room-open {
  width: 500px;
  height: 200px;
  position: fixed;
  z-index: 50;
  padding: 1rem;
  border-radius: 5px;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 200px;
  transition: 0.3s;
}
.join-room-closed {
  width: 500px;
  height: 200px;
  position: fixed;
  z-index: 50;
  padding: 1rem;
  border-radius: 5px;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 200px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: 0.3s;
}
.join-room-input {
  width: 100%;
  padding: 5px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 5px;
}

.chat-room {
  width: 300px;
  position: absolute;
  z-index: 100;
  height: 100%;
  padding: 1rem;
  top: 0;
  left: 0px;
}
.input-form-chat {
  width: 270px;
  position: fixed;
  display: flex;
  left: 15px;
  z-index: 40;
}
.input-field-chat {
  width: 100%;
  padding: 5px;
}
.input-form-chat-div {
  position: fixed;
  width: 300px;
  left: 15px;
  right: 0;
  bottom: 50px;
}
.messages-div {
  margin-bottom: 50px;
  position: absolute;
  width: 300px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  overflow-y: scroll;
  height: calc(100% - 150px);
  left: 0;
  right: 0;
  bottom: 80px;
  overflow-x: hidden;
}

.btn {
  border: none;
}
