.fifth-row {
  display: flex;
  justify-content: space-between;
}
.forth-row {
  display: flex;
  justify-content: space-between;
}
.third-row {
  display: flex;
  justify-content: space-between;
}
.second-row {
  display: flex;
  justify-content: space-between;
}
.first-row {
  display: flex;
  justify-content: space-between;
}
.KeyboardDark-key {
  background-color: rgb(100, 100, 100);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-radius: 5px;
  transition: 0.1s;
}
.KeyboardDark-key-pressed {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  transform: scale(0.9);
  transition: 0.1s;
}
.KeyboardDark {
  position: absolute;
  border-radius: 10px;
  bottom: 4rem;
  padding: 1rem;
  width: 870px;
  left: 200px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(50, 50, 50);
  z-index: 1;
}
.KeyboardDark-tab {
  background-color: rgb(100, 100, 100);
  width: 80px;
  border-radius: 5px;

  height: 50px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.KeyboardDark-caps {
  background-color: rgb(100, 100, 100);
  width: 100px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.KeyboardDark-shift {
  background-color: rgb(100, 100, 100);
  width: 120px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.KeyboardDark-ctrl {
  margin: 3px;
  width: 80px;
  border-radius: 5px;
  height: 50px;
  background-color: rgb(100, 100, 100);
  display: flex;
  align-items: center;
  justify-content: center;
}
.KeyboardDark-backspace {
  background-color: rgb(100, 100, 100);
  width: 100px;
  height: 50px;
  margin: 2px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.KeyboardDark-enter {
  background-color: rgb(100, 100, 100);
  width: 120px;
  height: 50px;
  margin: 2px;
  display: flex;
  align-items: center;
  border-radius: 5px;

  justify-content: center;
}
.KeyboardDark-big-shift {
  background-color: rgb(100, 100, 100);
  width: 140px;
  height: 50px;
  margin: 2px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.KeyboardDark-space {
  background-color: rgb(100, 100, 100);
  width: 480px;
  height: 50px;
  margin: 2px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
.KeyboardDark-space-pressed {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 480px;
  height: 50px;
  margin: 2px;
  display: flex;
  border-radius: 5px;
  transition: 0.1s;
  transform: scale(0.97);
  align-items: center;
  justify-content: center;
}
.KeyboardDark-alt {
  width: 80px;
  height: 50px;
  border-radius: 5px;

  background-color: rgb(100, 100, 100);
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1500px) {
  .fifth-row {
    display: flex;
    justify-content: space-between;
    position: fixed;
    transform: translateX(8000px);
  }
  .forth-row {
    display: flex;
    justify-content: space-between;
  }
  .third-row {
    display: flex;
    justify-content: space-between;
  }
  .second-row {
    display: flex;
    justify-content: space-between;
  }
  .first-row {
    display: flex;
    justify-content: space-between;
  }
  .KeyboardDark-key {
    background-color: rgb(100, 100, 100);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 5px;
  }
  .KeyboardDark-key-pressed {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
  }
  .KeyboardDark {
    position: absolute;
    border-radius: 10px;
    bottom: 1rem;
    padding: 1rem;
    width: 670px;
    left: 200px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(61, 61, 61);
  }
  .KeyboardDark-tab {
    background-color: rgb(100, 100, 100);
    width: 60px;
    border-radius: 5px;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .KeyboardDark-caps {
    background-color: rgb(100, 100, 100);
    width: 80px;
    height: 40px;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .KeyboardDark-shift {
    background-color: rgb(100, 100, 100);
    width: 100px;
    height: 40px;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .KeyboardDark-ctrl {
    margin: 3px;
    width: 60px;
    border-radius: 5px;
    height: 40px;
    background-color: rgb(100, 100, 100);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .KeyboardDark-backspace {
    background-color: rgb(100, 100, 100);
    width: 80px;
    height: 40px;
    margin: 2px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .KeyboardDark-enter {
    background-color: rgb(100, 100, 100);
    width: 100px;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
  }
  .KeyboardDark-big-shift {
    background-color: rgb(100, 100, 100);
    width: 120px;
    height: 40px;
    margin: 2px;
    display: flex;
    border-radius: 5px;

    align-items: center;
    justify-content: center;
  }
  .KeyboardDark-space {
    background-color: rgb(100, 100, 100);
    width: 400px;
    height: 40px;
    margin: 2px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .KeyboardDark-space-pressed {
    background-color: rgb(201, 201, 201);
    width: 400px;
    height: 40px;
    margin: 2px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .KeyboardDark-alt {
    width: 80px;
    height: 40px;
    border-radius: 5px;

    background-color: rgb(100, 100, 100);
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
