.fifth-row {
  display: flex;
  justify-content: space-between;
}
.forth-row {
  display: flex;
  justify-content: space-between;
}
.third-row {
  display: flex;
  justify-content: space-between;
}
.second-row {
  display: flex;
  justify-content: space-between;
}
.first-row {
  display: flex;
  justify-content: space-between;
}
.keyboard-key {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  margin: 2px;
  transition: 0.05s;
  cursor: pointer;
}
.keyboard-key:hover {
  transition: 0.1s;
}
.popup {
  position: absolute;
  z-index: 100;
  padding: 0.5rem;
  margin-bottom: 4rem;
  border-radius: 5px;
  transition: 0.1s;
  box-shadow: 0px 0px 10px rgb(131, 131, 131);
}
.hidden-popup {
  transition: 0.1s;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  margin-bottom: 1rem;
}
.keyboard-key-pressed {
  transition: 0.05s;
  filter: invert();
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  transform: scale(0.9);
}
.keyboard {
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  bottom: 4rem;
  padding: 1rem;
  width: 870px;
  left: 200px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.keyboard-tab {
  width: 80px;
  height: 50px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.keyboard-caps {
  width: 100px;
  height: 50px;
  margin: 2px;
  display: flex;
  align-items: center;
  border-radius: 5px;

  justify-content: center;
}
.keyboard-shift {
  width: 120px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
.keyboard-shift-pressed {
  width: 120px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  transition: 0.1s;
  filter: invert();
}
.keyboard-ctrl {
  margin: 3px;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}
.keyboard-backspace {
  width: 100px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
.keyboard-backspace-pressed {
  width: 100px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  transition: 0.1s;
  filter: invert();
}
.keyboard-enter {
  width: 120px;
  height: 50px;
  margin: 2px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.keyboard-big-shift {
  width: 140px;
  height: 50px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.1s;
}

.keyboard-space {
  transition: 0.03s;
  width: 480px;
  height: 50px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.keyboard-space-pressed {
  transition: 0.03s;
  filter: invert();
  width: 480px;
  height: 50px;
  margin: 2px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transform: scale(0.98);
}
.keyboard-alt {
  width: 80px;
  height: 50px;
  border-radius: 5px;

  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1500px) {
  .fifth-row {
    display: flex;
    justify-content: space-between;
    position: fixed;
    transform: translateX(8000px);
  }
  .forth-row {
    display: flex;
    justify-content: space-between;
  }
  .third-row {
    display: flex;
    justify-content: space-between;
  }
  .second-row {
    display: flex;
    justify-content: space-between;
  }
  .first-row {
    display: flex;
    justify-content: space-between;
  }
  .keyboard-key {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    margin: 2px;
    transition: 0.03s;
  }
  .keyboard-key-pressed {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 2px;
    transform: scale(0.9);
    transition: 0.03s;
  }
  .keyboard {
    border-radius: 10px;
    position: absolute;
    bottom: 1rem;
    padding: 1rem;
    width: 670px;
    left: 200px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .keyboard-tab {
    width: 60px;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .keyboard-caps {
    width: 100px;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;

    justify-content: center;
  }
  .keyboard-shift {
    width: 100px;
    height: 40px;
    margin: 2px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .keyboard-shift-pressed {
    width: 100px;
    height: 40px;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    transition: 0.1s;
    filter: invert();
  }
  .keyboard-ctrl {
    margin: 3px;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;

    justify-content: center;
  }
  .keyboard-backspace {
    width: 80px;
    height: 40px;
    margin: 2px;
    border-radius: 5px;
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .keyboard-backspace-pressed {
    width: 80px;
    height: 40px;
    margin: 2px;
    border-radius: 5px;
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
  }
  .keyboard-enter {
    width: 100px;
    height: 40px;
    margin: 2px;
    display: flex;
    border-radius: 5px;

    align-items: center;
    justify-content: center;
  }
  .keyboard-big-shift {
    width: 120px;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .keyboard-space {
    width: 400px;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.03s;
  }
  .keyboard-space-pressed {
    width: 400px;
    height: 40px;
    margin: 2px;
    display: flex;
    border-radius: 5px;
    transition: 0.03s;
    transform: scale(0.97);
    filter: invert();
    align-items: center;
    justify-content: center;
  }
  .keyboard-alt {
    width: 60px;
    height: 40px;
    border-radius: 5px;

    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
