.Typing10Second-page {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  padding-left: 215px;
  overflow: hidden;
}

.settings-10second {
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 870px;
  margin: auto;
  left: 200px;
  right: 0;
  border-radius: 10px;
  padding: 1rem;
  z-index: 10;
}
h4 {
  margin: 0;
  display: flex;
  align-items: center;
}

.difficulty-btn {
  width: 100px;
}
@media only screen and (max-width: 1500px) {
  .check-for-small-display {
    transition: 0.3s;
    position: absolute;
    bottom: 5rem;
    margin: auto;
    left: 0;
    right: 0;
  }
}
