.Typing10Second-page-dark {
  height: 100vh;
  width: 100vw;
  background-color: rgb(31, 30, 30);
  color: white;
  padding: 1rem;
  padding-left: 215px;
}
.Typing10Second-page-light {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-left: 200px;
}
