.typing-10-second {
  margin-left: 200px;
}
.form-running-out-of-time {
  background-color: rgb(231, 60, 60);
  color: black;
}
.form-running-out-of-time:focus {
  background-color: rgb(231, 60, 60);
  color: black;
}
.form-running-out-of-time::placeholder,
.form-input,
.form-input:focus,
.form-input::placeholder {
  color: black;
}
.form-control {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border: none;
}
.word-to-type,
.time-left {
  margin: 0;
  padding: 0;
}
.time-left {
  font-size: 40px;
  opacity: 0.7;
  font-style: italic;
}
.word-to-type {
  font-size: 1rem;
  margin: 0;
}
.time-and-word-to-type {
  align-items: center;
  margin-bottom: 1rem;
}
.transition {
  transition: 0.4s;
}
.fast-transition {
  transition: 0.1s;
}

.word-to-type {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.highest-score {
  font-style: italic;
  padding-left: 2rem;
}

h3 {
  padding: 0;
  margin: 0;
}
.score-big-text {
  left: 250px;

  opacity: 0.3;

  font-size: 100px;
}

.add-second {
  position: absolute;
  right: 0px;
}

@media only screen and (min-width: 1501px) {
  .input-box-10seconds {
    position: absolute;
    width: 870px;
    bottom: 380px;
    opacity: 1;
    transition: 0.3s;
    z-index: 0;
    background: none;
    outline: none;
    padding: 0.5rem;
    border: none;
    margin: auto;
    left: 200px;
    right: 0;
  }
  .start-of-game-10seconds {
    position: absolute;
    margin: auto;
    bottom: 420px;
    left: 200px;
    right: 0px;
    width: 800px;
  }
}
@media only screen and (max-width: 1500px) {
  .input-box-10seconds {
    position: absolute;
    width: 670px;
    bottom: 320px;
    opacity: 1;
    transition: 0.3s;
    z-index: 0;
    background: none;
    outline: none;
    padding: 0.5rem;
    border: none;
    margin: auto;
    left: 200px;
    right: 0;
  }
  .start-of-game-10seconds {
    position: absolute;
    margin: auto;
    bottom: 350px;
    left: 200px;
    right: 0px;
    width: 600px;
  }
}
.leaderboard-link {
  margin-left: 1rem;
  text-decoration: underline;
  cursor: pointer;
  z-index: 1;
}
