.ten-seconds-leaderboard-open {
  position: fixed;
  width: 900px;
  margin: auto;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 30;
  border-radius: 5px;
  height: calc(100% - 100px);
  transition: 0.3s;
  overflow-y: scroll;
}
.ten-seconds-leaderboard-closed {
  position: fixed;
  width: 900px;
  margin: auto;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 0;
  border-radius: 5px;
  height: calc(100% - 100px);
  opacity: 0;
  transform: scale(0.95);
  transition: 0.3s;
}
.darkened-background-10seconds-on {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
.darkened-background-10seconds-off {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.test-history-10seconds {
  margin-top: 1rem;
  margin-bottom: 5rem;
  position: relative;
}
.ten-seconds-leaderboard-header {
  position: sticky;
  top: 0px;
  padding: 1rem;
  border-bottom: 1px solid rgb(129, 129, 129);
}
.ten-seconds-leaderboard-header {
  z-index: 20;
}
.info-10-seconds-leaderboard {
  position: sticky;
  top: 75px;
  width: 80%;
  margin: auto;
  z-index: 20;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
.test-history-10seconds {
  margin-top: 1rem;
}
