.replay-text-shown {
  position: fixed;
  z-index: 100;
  margin: auto;
  top: 50px;
  left: 10%;
  height: calc(100% - 100px);
  min-width: 80%;
  padding: 0rem;
  border-radius: 5px;
  opacity: 1;
  transition: 0.3s;
}
.replay-text-hidden {
  position: fixed;
  z-index: 100;
  margin: auto;
  top: 50px;
  left: 10%;
  height: calc(100% - 100px);
  min-width: 80%;
  padding: 0rem;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  transform: scale(0.98);
}
.dark-background-replay-shown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: 90;
  transition: 0.3s;
}
.dark-background-replay-off {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  transition: 0.3s;
}
