.TypingTest-page-dark {
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 30, 30);
  color: white;
  transition: 0.3s;
}
.TypingTest-page-light {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
.TypingTest {
  padding: 1rem;
  text-align: center;
  margin-left: 170px;
}
.input-zone {
  margin-top: 20rem;
}
.input-box {
  width: 50vw;
}
.text-to-type {
  margin-top: 1rem;
}
span {
  margin: 4px;
}
