.TypingTest-page-dark {
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 30, 30);
  color: white;
  transition: 0.3s;
}
.TypingTest-page-light {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
.TypingTest {
  padding: 1rem;
  text-align: center;
  margin-left: 170px;
}
.input-zone {
  margin-top: 20rem;
}
.input-box {
  width: 50vw;
}
.text-to-type {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem;
}
.none {
  width: 23px;
  height: 40px;
  font-size: 25px;
  margin: 2px;
  border-radius: 5px 5px 0 0;
  border-bottom: solid 3px rgba(0, 132, 255, 0.308);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
.green {
  width: 23px;
  height: 40px;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 2px;
  background-color: rgba(0, 132, 255, 0.377);
  border-bottom: solid 3px rgb(0, 132, 255);
  color: rgb(255, 255, 255);
  transition: 0.1s;
}
.red {
  transform: translateY(-6px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 40px;
  border-radius: 5px 5px 0 0;
  transition: 0.1s;
  font-size: 25px;
  background-color: rgba(255, 0, 0, 0.459);
  border-bottom: solid 3px rgb(255, 0, 0);
  margin: 2px;
}
.blinking {
  animation: blinker 1s linear infinite;
  width: 23px;
  height: 40px;
  font-size: 25px;
  margin: 2px;
  border-radius: 5px 5px 0 0;
  border-bottom: solid 3px rgba(0, 132, 255, 0.308);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
@keyframes blinker {
  0% {
    border-bottom: solid 3px rgb(0, 132, 255);
  }
  20% {
    border-bottom: solid 3px rgb(0, 132, 255);
  }
  40% {
    border-bottom: solid 3px rgb(0, 132, 255);
  }
  50% {
    border-bottom: solid 3px rgba(0, 132, 255, 0.199);
  }
  60% {
    border-bottom: solid 3px rgba(0, 132, 255, 0.205);
  }
  80% {
    border-bottom: solid 3px rgba(0, 132, 255, 0.199);
  }
  100% {
    border-bottom: solid 3px rgba(0, 132, 255, 0.199);
  }
}
