@media only screen and (min-width: 1501px) {
  .TypingTest-page-dark {
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 30, 30);
    color: white;
    transition: 0.3s;
  }
  .TypingTest-page-light {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.3s;
  }
  .TypingTest {
    padding: 1rem;
    text-align: center;
    margin-left: 200px;
  }
  .input-zone {
    display: flex;
    justify-content: center;
  }
  .input-box-shown {
    position: absolute;
    width: 870px;
    bottom: 380px;
    opacity: 1;
    transition: 0.3s;
    z-index: 0;
  }
  .input-box-hidden {
    position: absolute;
    width: 870px;
    bottom: 300px;
    pointer-events: none;
    transition: 0.3s;
    opacity: 0;
    z-index: 0;
  }
  .text-to-type {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
    margin-top: 0.5rem;
    transition: 0.3s;
    padding: 1rem;
  }
  .text-to-type-light {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
    margin-top: 0.5rem;
    opacity: 0.4;
    transition: 0.3s;
    color: black;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
  }
  .text-to-type-dark {
    padding: 1rem;
    color: white;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
    margin-top: 0.5rem;
    opacity: 0.5;
    transition: 0.2s;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
  }

  .none {
    width: 23px;
    height: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
  }
  .green {
    width: 23px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(150, 150, 150);
    transition: 0.1s;
  }
  .red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 40px;
    transition: 0.1s;
    font-size: 25px;
    background-color: rgb(255, 0, 0);
    color: white;
  }
  .blinking-light {
    animation: blinker-light 1s linear infinite;
    width: 23px;
    height: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
  }
  @keyframes blinker-light {
    0% {
      background-color: black;
      color: white;
    }
    20% {
      background-color: black;
      color: white;
    }
    40% {
      background-color: black;
      color: white;
    }
    50% {
      background-color: rgb(197, 197, 197);
      color: rgb(0, 0, 0);
    }
    60% {
      background-color: rgb(197, 197, 197);
      color: rgb(0, 0, 0);
    }
    80% {
      background-color: rgb(197, 197, 197);
      color: rgb(0, 0, 0);
    }
    100% {
      background-color: rgb(197, 197, 197);
      color: rgb(0, 0, 0);
    }
  }
  .blinking-dark {
    animation: blinker-dark 1s linear infinite;
    width: 23px;
    height: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
  }
  @keyframes blinker-dark {
    0% {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    20% {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    40% {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    50% {
      background-color: rgb(102, 102, 102);
      color: rgb(255, 255, 255);
    }
    60% {
      background-color: rgb(110, 110, 110);
      color: rgb(255, 255, 255);
    }
    80% {
      background-color: rgb(116, 116, 116);
      color: rgb(255, 255, 255);
    }
    100% {
      background-color: rgb(124, 124, 124);
      color: rgb(255, 255, 255);
    }
  }
  .alert-shown {
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60vw;
    transition: 0.5s;
    border-radius: 5px;
  }
  .alert-hidden {
    transform: translateY(-20px);
    opacity: 0;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60vw;
    transition: 0.5s;
  }
  .alert-tip {
    position: fixed;
    bottom: 1rem;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60vw;
    border-radius: 5px;
  }
  .statistics {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
  }
  .white-hr {
    background-color: white;
  }
  .dark-hr {
    background-color: rgb(196, 196, 196);
  }
  .hamburger-menu {
    position: absolute;
    top: 2.2rem;
    right: 3rem;
    transition: 0.2s;
  }
  .hamburger-menu:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }

  .whole-page-background-open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 5;
  }
  .whole-page-background-closed {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: 0.3s;
  }
  .side-menu-open {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
    height: 95vh;
    width: 350px;
    background-color: rgb(78, 78, 78);
    transition: 0.2s;
    z-index: 10;
  }
  .side-menu-closed {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
    height: 95vh;
    width: 350px;
    background-color: rgb(78, 78, 78);
    transition: 0.2s;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
  }
  .side-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .side-menu-close-icon {
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .side-menu-close-icon:hover {
    background-color: rgb(100, 100, 100);
  }
  .bottom-keyboard-and-info {
    display: flex;
    bottom: 0;
    position: absolute;
    bottom: 4rem;
    left: 200px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .about-the-text-hidden-light {
    border-radius: 10px;
    position: fixed;
    bottom: 4rem;
    padding: 1rem;
    width: 870px;
    left: 200px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(220, 220, 220);
    height: 303px;
    pointer-events: none;
    transition: 0.6s;
    z-index: 2;
    transform: translateY(400px);
  }
  .about-the-text-shown-light {
    transition: 0.6s;
    height: 303px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    position: fixed;
    bottom: 4rem;
    padding: 1rem;
    width: 870px;
    left: 200px;
    right: 0;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .about-the-text-hidden-dark {
    border-radius: 10px;
    position: fixed;
    bottom: 4rem;
    padding: 1rem;
    width: 870px;
    left: 200px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(100, 100, 100);
    height: 303px;
    pointer-events: none;
    transition: 0.6s;
    z-index: 2;
    transform: translateY(400px);
  }
  .about-the-text-shown-dark {
    transition: 0.6s;
    height: 303px;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    position: fixed;
    bottom: 4rem;
    padding: 1rem;
    width: 870px;
    left: 200px;
    right: 0;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .about-text-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 0;
  }
  .picture-div {
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
    margin-right: 1rem;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .picture-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .info-about-text-bottom {
    display: flex;
  }
  .info-about-text-text {
    text-align: left;
  }
}
@media only screen and (max-width: 1500px) {
  .TypingTest-page-dark {
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 30, 30);
    color: white;
    transition: 0.3s;
  }
  .TypingTest-page-light {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.3s;
  }
  .TypingTest {
    text-align: center;
    margin-left: 200px;
  }
  .input-zone {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
  }
  .input-box-shown {
    position: absolute;
    width: 660px;
    bottom: 240px;
    opacity: 1;
    transition: 0.3s;
    z-index: 0;
  }
  .input-box-hidden {
    position: absolute;
    width: 660px;
    bottom: 160px;
    pointer-events: none;
    transition: 0.3s;
    opacity: 0;
    z-index: 0;
  }
  .text-to-type {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
    margin-top: 0.5rem;
    transition: 0.3s;
    padding: 1rem;
  }
  .text-to-type-light {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
    margin-top: 0.5rem;

    opacity: 0.4;
    transition: 0.3s;
    color: black;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
  }
  .text-to-type-dark {
    padding: 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
    margin-top: 0.5rem;
    opacity: 0.5;
    transition: 0.2s;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
  }
  .none {
    width: 17px;
    height: 30px;
    font-size: 17px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .green {
    width: 17px;
    height: 30px;
    font-size: 17px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(121, 121, 121);
  }
  .red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 30px;
    font-size: 17px;
    background-color: rgb(255, 0, 0);
    color: white;
  }
  .blinking-light {
    animation: blinker-light 1s linear infinite;
    width: 17px;
    height: 30px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @keyframes blinker-light {
    0% {
      background-color: black;
      color: white;
    }
    20% {
      background-color: black;
      color: white;
    }
    40% {
      background-color: black;
      color: white;
    }
    50% {
      background-color: rgb(197, 197, 197);
      color: rgb(0, 0, 0);
    }
    60% {
      background-color: rgb(197, 197, 197);
      color: rgb(0, 0, 0);
    }
    80% {
      background-color: rgb(197, 197, 197);
      color: rgb(0, 0, 0);
    }
    100% {
      background-color: rgb(197, 197, 197);
      color: rgb(0, 0, 0);
    }
  }
  .blinking-dark {
    animation: blinker-dark 1s linear infinite;
    width: 17px;
    height: 30px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes blinker-dark {
    0% {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    20% {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    40% {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    50% {
      background-color: rgb(102, 102, 102);
      color: rgb(255, 255, 255);
    }
    60% {
      background-color: rgb(110, 110, 110);
      color: rgb(255, 255, 255);
    }
    80% {
      background-color: rgb(116, 116, 116);
      color: rgb(255, 255, 255);
    }
    100% {
      background-color: rgb(124, 124, 124);
      color: rgb(255, 255, 255);
    }
  }
  .alert-shown,
  .alert-hidden,
  .alert-tip {
    position: absolute;
    z-index: -10;
    opacity: 0;
    pointer-events: none;
  }

  .statistics {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
  }
  .white-hr {
    background-color: white;
    margin-bottom: 0;
  }
  .dark-hr {
    background-color: rgb(196, 196, 196);
    margin-bottom: 0;
  }
  .hamburger-menu {
    position: absolute;
    top: 0.8rem;
    right: 2rem;
    transition: 0.2s;
  }
  .hamburger-menu:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }
  .whole-page-background-open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 5;
  }
  .whole-page-background-closed {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: 0.3s;
  }
  .side-menu-open {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
    height: 95vh;
    width: 350px;
    background-color: rgb(78, 78, 78);
    transition: 0.2s;
    z-index: 10;
  }
  .side-menu-closed {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
    height: 95vh;
    width: 350px;
    background-color: rgb(78, 78, 78);
    transition: 0.2s;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
  }
  .side-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .side-menu-close-icon {
    cursor: pointer;
    transition: 0.2 s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .side-menu-close-icon:hover {
    background-color: rgb(100, 100, 100);
  }
  .about-the-text-hidden-dark {
    border-radius: 10px;
    position: fixed;
    bottom: 1rem;
    padding: 1rem;
    width: 870px;
    height: 273px;
    right: 0;
    left: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(100, 100, 100);
    height: 303px;
    opacity: 1;
    pointer-events: none;
    transition: 0.6s;
    transform: translateY(500px);
    z-index: 4;
  }
  .about-the-text-shown-dark {
    transition: 0.6s;
    height: 273px;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    position: fixed;
    bottom: 1rem;
    padding: 1rem;
    width: 870px;
    left: 200px;
    right: 0;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .about-the-text-hidden-light {
    border-radius: 10px;
    position: fixed;
    bottom: 1rem;
    padding: 1rem;
    width: 870px;
    height: 273px;
    right: 0;
    left: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(220, 220, 220);
    height: 303px;
    opacity: 1;
    pointer-events: none;
    transition: 0.6s;
    transform: translateY(500px);
    z-index: 4;
  }
  .about-the-text-shown-light {
    transition: 0.6s;
    height: 273px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    position: fixed;
    bottom: 1rem;
    padding: 1rem;
    width: 870px;
    left: 200px;
    right: 0;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .about-text-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 0;
  }
  .picture-div {
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
    margin-right: 1rem;
    width: 170px;
    height: 170px;
    overflow: hidden;
  }
  .picture-image {
    width: 170px;
    height: 170px;
  }
  .info-about-text-bottom {
    display: flex;
  }
  .info-about-text-text {
    text-align: left;
  }
}
