.Ladderboard-shown {
  margin: auto;
  left: 200px;
  right: 0;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  margin: 0rem;
  margin-right: 0rem;
  padding: 3rem;
  transition: 0.3s;
  overflow-y: scroll;
}
.ladderboard-header {
  display: flex;
}
.Ladderboard-hidden {
  margin: auto;
  left: 200px;
  right: 0;
  height: 10vh;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  margin: 0rem;
  opacity: 0;
  padding: 2rem;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 10px;
}

.ladderboard-table {
  padding: 2rem;
  margin-bottom: 2rem;
}
.ladderboard-row {
  display: flex;
  position: relative;
  align-items: center;
  transition: 0.1s;
}
.ladderboard-row:hover {
  cursor: pointer;
  transition: 0.1s;
  border-left: 5px solid rgb(100, 100, 100);
}
.ladderboard-row {
  display: flex;
  position: relative;
  align-items: center;
}

.ladderboard-info {
  position: relative;
  margin-top: 2rem;
}
.ladderboard-number-item {
  left: 1rem;
  margin-right: 2rem;
  padding: 1rem;
}
.ladderboard-name-item {
  position: absolute;
  left: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.ladderboard-races-item {
  position: absolute;
  right: 28vw;
  padding: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
}
.ladderboard-time-item {
  position: absolute;
  right: 2vw;
  padding: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
}
.ladderboard-averageWpm-item {
  position: absolute;
  right: 10vw;
  padding: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
}

.ladderboard-item-higest {
  position: absolute;
  right: 19vw;
  padding: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
}

.ladderboard-name-info {
  position: absolute;
  left: 7rem;
}
.ladderboard-races-info {
  position: absolute;
  right: 31vw;
}
.ladderboard-time-info {
  position: absolute;
  right: 4vw;
}
.ladderboard-averageWpm-info {
  position: absolute;
  right: 13vw;
}
.ladderboard-last10races-info {
  position: absolute;
  right: 12vw;
}
.ladderboard-info-higest {
  position: absolute;
  right: 22vw;
}
.select-sort-method {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.loading-div-ladderboard {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 15px;
  left: 270px;
}
