.Ladderboard-shown-dark {
  margin: auto;
  left: 250px;
  right: 0;
  height: 96vh;
  position: absolute;
  z-index: 1000;
  margin: 1rem;
  background-color: rgb(49, 49, 49);
  padding: 2rem;
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}
.Ladderboard-shown-light {
  margin: auto;
  left: 250px;
  right: 0;
  height: 96vh;
  position: absolute;
  z-index: 1000;
  margin: 1rem;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgba(49, 49, 49, 0.253);
  color: black;
  padding: 2rem;
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}
.Ladderboard-hidden-dark {
  margin: auto;
  left: 250px;
  right: 0;
  height: 10vh;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  margin: 1rem;
  opacity: 0;
  background-color: rgb(49, 49, 49);
  padding: 2rem;
  transition: 0.3s;
  overflow: hidden;

  border-radius: 10px;
}
.Ladderboard-hidden-light {
  margin: auto;
  left: 250px;
  right: 0;
  height: 10vh;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  margin: 1rem;
  opacity: 0;
  background-color: rgb(241, 241, 241);
  color: black;
  padding: 2rem;
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}
.ladderboard-table {
  padding: 2rem;
  overflow-y: scroll;
  height: 74vh;
}
.ladderboard-row {
  color: white;
  display: flex;
  background-color: rgb(29, 29, 29);
  position: relative;
  align-items: center;
}
.ladderboard-row-dark {
  display: flex;
  background-color: rgb(29, 29, 29);
  position: relative;
  align-items: center;
}
.ladderboard-row-light {
  display: flex;
  background-color: rgb(255, 255, 255);
  position: relative;
  align-items: center;
}
.ladderboard-info {
  position: relative;
  margin-top: 2rem;
}
.ladderboard-number-item {
  left: 1rem;
  margin-right: 2rem;
  padding: 1rem;
}
.ladderboard-name-item {
  position: absolute;
  left: 4rem;
  padding: 1rem;
}
.ladderboard-races-item {
  position: absolute;
  right: 27vw;
  padding: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
}
.ladderboard-time-item {
  position: absolute;
  right: 1vw;
  padding: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
}
.ladderboard-averageWpm-item {
  position: absolute;
  right: 9vw;
  padding: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
}

.ladderboard-item-higest {
  position: absolute;
  right: 18vw;
  padding: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
}

.ladderboard-number-info {
  left: 1rem;
  margin-right: 2rem;
  background-color: blue;
  padding: 1rem;
}
.ladderboard-name-info {
  position: absolute;
  left: 7rem;
}
.ladderboard-races-info {
  position: absolute;
  right: 31vw;
}
.ladderboard-time-info {
  position: absolute;
  right: 4vw;
}
.ladderboard-averageWpm-info {
  position: absolute;
  right: 12vw;
}
.ladderboard-last10races-info {
  position: absolute;
  right: 12vw;
}
.ladderboard-info-higest {
  position: absolute;
  right: 22vw;
}
.select-sort-method {
  display: flex;
  align-items: center;
  padding: 1rem;
}
