.stats-page {
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
  overflow-y: scroll;
}
.Stats {
  text-align: center;
  margin-left: 200px;
  transition: 0.3s;
  padding: 1rem;
  height: 100vh;
}
h1 {
  margin: 0;
}
.log-in-message {
  width: 70%;
  margin: auto;
  left: 0;
  right: 0;
  padding: 2rem;
  border-radius: 5px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.all-statistics-div {
  position: relative;
  margin-top: 2rem;
}
.typing-game-statistics-div-shown,
.typing-200-statistics-div-shown,
.typing-1000-statistics-div-shown {
  position: relative;
  width: 95%;
  padding: 2rem;
  border-radius: 5px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.3s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.typing-game-statistics-div-hidden,
.typing-1000-statistics-div-hidden,
.typing-200-statistics-div-hidden {
  position: absolute;
  width: 95%;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  transform: translateY(50px);
}

.stats-box {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2rem;
  width: 20%;
  margin: 10px;
}
.all-time-div-stats {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.statistics-select-buttons {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  padding: 20px;
  border-bottom: 1px solid white;
}

.typing-game-button-active,
.top-200-button-active,
.top-1000-button-active {
  position: relative;
  padding: 10px;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
  transform: scale(1.1);
  color: white;
}
.typing-game-inactive,
.top-200-inactive,
.top-1000-inactive {
  position: relative;
  padding: 10px;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
  transition: 0.1s;
}
.typing-game-inactive:hover,
.top-200-inactive:hover,
.top-1000-inactive:hover {
  filter: brightness(90%);
}

.alert-not-enough-races {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: -50px;
  z-index: 0;
  width: 95%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.3s;
}
.tests-history {
  margin-top: 1rem;
}
.test-history-item {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  align-content: center;
  align-items: center;
}
.test-history-item-quote {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  align-content: center;
  align-items: center;
  transition: 0.1s;
}
.test-history-item-quote:hover {
  border-left: 5px solid rgb(112, 112, 112);
  cursor: pointer;
  transition: 0.1s;
}
.loading-div-stats {
  position: absolute;
  left: 47%;
  top: 5px;
}
h4 {
  margin: 0;
}
.vl {
  border-left: 2px solid rgb(116, 116, 116);
  height: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.keyboard-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
