.stats-page {
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
  overflow-y: scroll;
}
.Stats {
  text-align: center;
  margin-left: 200px;
  transition: 0.3s;
  padding: 1rem;
  height: 100vh;
}
h1 {
  margin: 0;
}
.log-in-message {
  width: 70%;
  margin: auto;
  left: 0;
  right: 0;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.all-statistics-div {
  position: relative;
  margin-top: 2rem;
}
.typing-game-statistics-div-shown,
.typing-200-statistics-div-shown,
.typing-1000-statistics-div-shown {
  position: absolute;
  width: 90%;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.3s;
  margin-bottom: 6rem;
}

.typing-game-statistics-div-hidden,
.typing-1000-statistics-div-hidden,
.typing-200-statistics-div-hidden {
  position: absolute;
  width: 90%;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  transform: translateY(100px);
}

.stats-box {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2rem;
  width: 20%;
  margin: 10px;
}
.all-time-div-stats {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.statistics-select-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.typing-game-button-active,
.top-200-button-active,
.top-1000-button-active {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}
.typing-game-inactive,
.top-200-inactive,
.top-1000-inactive {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 0;
  transition: 0.3s;
}
.typing-game-inactive:hover,
.top-200-inactive:hover,
.top-1000-inactive:hover {
  filter: brightness(90%);
}

.alert-not-enough-races {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: -50px;
  z-index: 0;
  width: 95%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: 0.3s;
}
.tests-history {
  margin-top: 2rem;
}
.test-history-item {
  display: flex;
  width: 70%;
  margin: auto;
  padding: 0.5rem;
  align-content: center;
}
.loading-div-stats {
  position: absolute;
  right: 15%;
  top: 5px;
}
