body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 800px) {
  .mobile-warning {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: white;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 2rem;
    padding-bottom: 200px;
  }
}
@media only screen and (min-width: 801px) {
  .mobile-warning {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    opacity: 0;
  }
}

.index {
  transform: scale(1);
  transition: 600ms ease-out;
}
.index-loading {
  transform: scale(1.1);
  transition: 600ms ease-out;
  filter: brightness(40%);
}
