body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mobile-warning {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(10, 10, 10);
  color: white;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 2rem;
  padding-bottom: 300px;
  font-size: 30px;
  transition: 600ms;
}

.mobile-warning-loading {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(10, 10, 10);
  color: white;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 2rem;
  padding-bottom: 300px;
  font-size: 30px;
  transition: 600ms;
  transform: scale(1.4);
}

.info-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 4rem;
  text-align: center;
}

.index {
  transform: scale(1);
  transition: 600ms ease-out;
}
.index-loading {
  transform: scale(1.1);
  transition: 600ms ease-out;
  filter: brightness(40%);
}

p {
  margin: 0;
}
