.settings-alert {
  margin-top: 2rem;
  border-radius: 5px;
  border: none;
}
p {
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
}
.settings-card-ligth,
.settings-card-ligth-words {
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
}
.settings-card-ligth-words:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}
.settings-card-ligth,
.settings-card-dark {
  cursor: pointer;
}
.settings-card-ligth:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}
.settings-card-dark {
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
}
.settings-card-dark:hover {
  background-color: rgb(0, 124, 226);
  transform: translateY(-3px);
}
.settings-card-dark-words:hover {
  transform: translateY(-3px);
  background-color: rgb(90, 90, 90);
}
.settings-card-dark-words {
<<<<<<< HEAD
  background-color: rgb(50, 50, 50);
=======
  background-color: rgb(80, 78, 78);
>>>>>>> 83e7c7443c91422330283a253147a2a09b684afb
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.text {
  position: absolute;
  z-index: 0;
  right: 12rem;
  opacity: 0.2;
  font-style: italic;
  font-size: 200px;
  pointer-events: none;
}
.btn {
  z-index: 3;
}
@media only screen and (max-width: 1500px) {
  .settings-alert {
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
  }
  .home-page-dark,
  .home-page-light {
    overflow-x: hidden;
    padding-bottom: 3rem;
  }
  p {
    margin: 0;
  }
  h2 {
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
  }
  .settings-card-ligth,
  .settings-card-ligth-words {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
  }
  .settings-card-ligth-words:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
  }
  .settings-card-ligth,
  .settings-card-dark {
    cursor: pointer;
  }
  .settings-card-ligth:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
  }
  .settings-card-dark {
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
  }
  .settings-card-dark:hover {
    background-color: rgb(0, 124, 226);
    transform: translateY(-3px);
  }
  .settings-card-dark-words:hover {
    transform: translateY(-3px);
    background-color: rgb(90, 90, 90);
  }
  .settings-card-dark-words {
    background-color: rgb(80, 78, 78);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
  }

  .text {
    position: absolute;
    z-index: 0;
    right: 12rem;
    opacity: 0.2;
    font-style: italic;
    font-size: 200px;
    pointer-events: none;
  }
  .btn {
    z-index: 3;
  }
}
