.settings-alert {
  margin-top: 2rem;
  border-radius: 5px;
  border: none;
}
p {
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
}
.home-page {
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 5rem;
  width: 100vw;
  height: 100vh;
  padding-left: 200px;
}
.home-page {
  color: white;
  transition: 0.3s;
}
.home-page {
  transition: 0.3s;
}
.settings-card,
.settings-card-words {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
}
.settings-card-words:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}
.settings-card-themes-closed {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  height: 8rem;
  position: relative;
}
.settings-card-themes-open {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  height: 18rem;
  position: relative;
}
.theme-card-info {
  position: absolute;
  width: 100%;
  top: 2rem;
}
.settings-card:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}
.text-themes {
  position: absolute;
  z-index: 0;
  right: 4rem;
  bottom: 0;
  opacity: 0.2;
  font-style: italic;
  font-size: 200px;
  pointer-events: none;
  top: -5.3rem;
}
.text-languages {
  position: absolute;
  z-index: 0;
  right: 4rem;
  bottom: 0;
  opacity: 0.2;
  font-style: italic;
  font-size: 200px;
  pointer-events: none;
  top: -5.3rem;
}
.themes-buttons {
  position: absolute;
  top: 10rem;
}
.settings-card {
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
}
.settings-card:hover {
  filter: brightness(90%);
  transform: translateY(-3px);
  cursor: auto;
}
.settings-card-words:hover {
  transform: translateY(-3px);
  filter: brightness(90%);
  cursor: pointer;
}
.settings-card-dark-words {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.text {
  position: absolute;
  z-index: 0;
  right: 12rem;
  opacity: 0.2;
  font-style: italic;
  font-size: 200px;
  pointer-events: none;
}
.text-font-family {
  position: absolute;
  z-index: 0;
  right: 1rem;
  opacity: 0.2;
  font-style: italic;
  font-size: 200px;
  pointer-events: none;
}
.btn-themes {
  margin-right: 1rem;
  z-index: 3;
  width: 5.7rem;
  transition: 0.1s;
}
@media only screen and (max-width: 1500px) {
  .settings-alert {
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
  }
  .home-page-dark,
  .home-page-light {
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 3rem;
    width: 100vw;
    height: 100vh;
    padding-left: 200px;
  }
  p {
    margin: 0;
  }
  h2 {
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
  }
  .settings-card,
  .settings-card-words {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
  }
  .settings-card-words:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
  }
  .settings-card {
    cursor: pointer;
  }
  .settings-card:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
  }
  .settings-card {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
  }
  .settings-card:hover {
    transform: translateY(-3px);
  }
  .settings-card-words:hover {
    transform: translateY(-3px);
    background-color: rgb(90, 90, 90);
  }
  .settings-card-words {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
  }

  .text {
    position: absolute;
    z-index: 0;
    right: 12rem;
    opacity: 0.2;
    font-style: italic;
    font-size: 200px;
    pointer-events: none;
  }
  .btn {
    margin-right: 1rem;
    z-index: 3;
  }
}
.dark-themes {
  display: flex;
  align-items: center;
}
.light-themes {
  display: flex;
  align-items: center;
}
